
html, body {
    height: 100%; /* ensure full viewport height */
    margin: 0;
}

body, main {
    display: flex;
    place-content:center;
    place-items:center;
    justify-content: center;
    align-items: center;
}

/* Container adjustments */
.container-xxl {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-family: var(--cf-title-font);
    font-size: var(--cf-font-size);
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

button {

}

.img-content {
    display: flex;
    gap: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}
